body {
    overflow-x: hidden;
    overflow-y: hidden;
  }

/* Change dropdown button color on hover */
.dropdown-toggle {
    background-color: black !important;
    color: white !important;
    border: none;
    transition: background-color 0.3s;
}

.dropdown-toggle:hover {
    background-color: grey !important;
    color: white !important;
}
