/* Change dropdown button color on hover */
.dropdown-toggle {
    background-color: black !important;
    color: white !important;
    border: none;
    transition: background-color 0.3s;
}

.dropdown-toggle:hover {
    background-color: grey !important;
    color: white !important;
}

.sidebar {
    position: fixed;
    top: 40px;
    left: 0;
    bottom: 50px;
    width: 16rem;
    padding: 2rem 1rem;
    background: linear-gradient(to bottom, transparent 30%, rgb(51, 51, 51) 80%);
}
