#leadtime-slider .rc-slider-mark-text {
    color: black;
    pointer-events: none;  /* Prevent clicks on marks */
    cursor: default;       /* Change cursor to indicate no interaction */   
    transform: rotate(-45deg) !important;
    transform-origin: top left !important;
    bottom: 5px;
    white-space: nowrap;
}

/* Increase the height of the entire slider track */
#leadtime-slider .rc-slider {
    height: 15px;
}

#leadtime-slider .rc-slider-track {
    background-color: indigo;
    color: white;
    /* background-color: #4CAF50; */
    height: 15px;
}

/* Make the unselected part of the track thicker */
#leadtime-slider .rc-slider-rail {
    background-color: gray;
    height: 15px;
}

#leadtime-slider .rc-slider-dot{
    width: 0px;
    height: 0px;
    background-color: black;
    border: 2px solid black;
}

/* Custom arrow handle for the slider */
#leadtime-slider .rc-slider-handle {
    margin-top: 15px;
    width: 10px;
    height: 10;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 0;
    border-bottom: 30px solid rgb(108, 0, 186); /* The color of the arrow */
    background-color: transparent;
}
